name: HTML Validate

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.x'

      - name: Validate HTML (index.html)
        run: |
          set -o pipefail
          npx --yes html-validate@10.1.2 --version
          npx --yes html-validate@10.1.2 index.html \
            --config .htmlvalidate.json \
            --formatter codeframe | tee html-validate-report.txt
        # Não quebra o job; deixa você seguir e ver o relatório
        continue-on-error: true

      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: html-validate-report
          path: html-validate-report.txt
