name: Lighthouse CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch: {}   # permite rodar manualmente pelo Actions

permissions:
  contents: read

jobs:
  lhci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Lighthouse CI (autorun)
        run: npx --yes @lhci/cli@0.13.0 autorun --config=.lighthouserc.js --collect.staticDistDir=.
        continue-on-error: true
